.icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-act {
  background-image: url("../../images/icons/svg/act.svg");
}
.icon-ada {
  background-image: url("../../images/icons/svg/ada.svg");
}
.icon-adx {
  background-image: url("../../images/icons/svg/adx.svg");
}
.icon-ae {
  background-image: url("../../images/icons/svg/ae.svg");
}
.icon-aion {
  background-image: url("../../images/icons/svg/aion.svg");
}
.icon-amp {
  background-image: url("../../images/icons/svg/amp.svg");
}
.icon-ant {
  background-image: url("../../images/icons/svg/ant.svg");
}
.icon-ardr {
  background-image: url("../../images/icons/svg/ardr.svg");
}
.icon-ark {
  background-image: url("../../images/icons/svg/ark.svg");
}
.icon-atm {
  background-image: url("../../images/icons/svg/atm.svg");
}
.icon-bat {
  background-image: url("../../images/icons/svg/bat.svg");
}
.icon-bay {
  background-image: url("../../images/icons/svg/bay.svg");
}
.icon-bcc {
  background-image: url("../../images/icons/svg/bcc.svg");
}
.icon-bch {
  background-image: url("../../images/icons/svg/bch.svg");
}
.icon-bcn {
  background-image: url("../../images/icons/svg/bcn.svg");
}
.icon-bdl {
  background-image: url("../../images/icons/svg/bdl.svg");
}
.icon-blcn {
  background-image: url("../../images/icons/svg/blcn.svg");
}
.icon-block {
  background-image: url("../../images/icons/svg/block.svg");
}
.icon-bnb {
  background-image: url("../../images/icons/svg/bnb.svg");
}
.icon-bnt {
  background-image: url("../../images/icons/svg/bnt.svg");
}
.icon-bq {
  background-image: url("../../images/icons/svg/bq.svg");
}
.icon-bqx {
  background-image: url("../../images/icons/svg/bqx.svg");
}
.icon-btc {
  background-image: url("../../images/icons/svg/btc.svg");
}
.icon-btcd {
  background-image: url("../../images/icons/svg/btcd.svg");
}
.icon-btcz {
  background-image: url("../../images/icons/svg/btcz.svg");
}
.icon-btg {
  background-image: url("../../images/icons/svg/btg.svg");
}
.icon-btm {
  background-image: url("../../images/icons/svg/btm.svg");
}
.icon-bts {
  background-image: url("../../images/icons/svg/bts.svg");
}
.icon-btx {
  background-image: url("../../images/icons/svg/btx.svg");
}
.icon-cnx {
  background-image: url("../../images/icons/svg/cnx.svg");
}
.icon-cny {
  background-image: url("../../images/icons/svg/cny.svg");
}
.icon-cvc {
  background-image: url("../../images/icons/svg/cvc.svg");
}
.icon-dash {
  background-image: url("../../images/icons/svg/dash.svg");
}
.icon-data {
  background-image: url("../../images/icons/svg/data.svg");
}
.icon-dcn {
  background-image: url("../../images/icons/svg/dcn.svg");
}
.icon-dcr {
  background-image: url("../../images/icons/svg/dcr.svg");
}
.icon-dent {
  background-image: url("../../images/icons/svg/dent.svg");
}
.icon-dgb {
  background-image: url("../../images/icons/svg/dgb.svg");
}
.icon-dgd {
  background-image: url("../../images/icons/svg/dgd.svg");
}
.icon-doge {
  background-image: url("../../images/icons/svg/doge.svg");
}
.icon-drgn {
  background-image: url("../../images/icons/svg/drgn.svg");
}
.icon-edg {
  background-image: url("../../images/icons/svg/edg.svg");
}
.icon-edoge {
  background-image: url("../../images/icons/svg/edoge.svg");
}
.icon-elf {
  background-image: url("../../images/icons/svg/elf.svg");
}
.icon-emc {
  background-image: url("../../images/icons/svg/emc.svg");
}
.icon-emc2 {
  background-image: url("../../images/icons/svg/emc2.svg");
}
.icon-eng {
  background-image: url("../../images/icons/svg/eng.svg");
}
.icon-eos {
  background-image: url("../../images/icons/svg/eos.svg");
}
.icon-etc {
  background-image: url("../../images/icons/svg/etc.svg");
}
.icon-eth {
  background-image: url("../../images/icons/svg/eth.svg");
}
.icon-ethos {
  background-image: url("../../images/icons/svg/ethos.svg");
}
.icon-etn {
  background-image: url("../../images/icons/svg/etn.svg");
}
.icon-etp {
  background-image: url("../../images/icons/svg/etp.svg");
}
.icon-eur {
  background-image: url("../../images/icons/svg/eur.svg");
}
.icon-exmo {
  background-image: url("../../images/icons/svg/exmo.svg");
}
.icon-fair {
  background-image: url("../../images/icons/svg/fair.svg");
}
.icon-fct {
  background-image: url("../../images/icons/svg/fct.svg");
}
.icon-fil {
  background-image: url("../../images/icons/svg/fil.svg");
}
.icon-fun {
  background-image: url("../../images/icons/svg/fun.svg");
}
.icon-game {
  background-image: url("../../images/icons/svg/game.svg");
}
.icon-gas {
  background-image: url("../../images/icons/svg/gas.svg");
}
.icon-gbp {
  background-image: url("../../images/icons/svg/gbp.svg");
}
.icon-gbyte {
  background-image: url("../../images/icons/svg/gbyte.svg");
}
.icon-gno {
  background-image: url("../../images/icons/svg/gno.svg");
}
.icon-gnt {
  background-image: url("../../images/icons/svg/gnt.svg");
}
.icon-grs {
  background-image: url("../../images/icons/svg/grs.svg");
}
.icon-gup {
  background-image: url("../../images/icons/svg/gup.svg");
}
.icon-gxs {
  background-image: url("../../images/icons/svg/gxs.svg");
}
.icon-hsr {
  background-image: url("../../images/icons/svg/hsr.svg");
}
.icon-icn {
  background-image: url("../../images/icons/svg/icn.svg");
}
.icon-icx {
  background-image: url("../../images/icons/svg/icx.svg");
}
.icon-jpy {
  background-image: url("../../images/icons/svg/jpy.svg");
}
.icon-kcs {
  background-image: url("../../images/icons/svg/kcs.svg");
}
.icon-kmd {
  background-image: url("../../images/icons/svg/kmd.svg");
}
.icon-knc {
  background-image: url("../../images/icons/svg/knc.svg");
}
.icon-krb {
  background-image: url("../../images/icons/svg/krb.svg");
}
.icon-lkk {
  background-image: url("../../images/icons/svg/lkk.svg");
}
.icon-lrc {
  background-image: url("../../images/icons/svg/lrc.svg");
}
.icon-lsk {
  background-image: url("../../images/icons/svg/lsk.svg");
}
.icon-ltc {
  background-image: url("../../images/icons/svg/ltc.svg");
}
.icon-maid {
  background-image: url("../../images/icons/svg/maid.svg");
}
.icon-mana {
  background-image: url("../../images/icons/svg/mana.svg");
}
.icon-mcap {
  background-image: url("../../images/icons/svg/mcap.svg");
}
.icon-mco {
  background-image: url("../../images/icons/svg/mco.svg");
}
.icon-miota {
  background-image: url("../../images/icons/svg/miota.svg");
}
.icon-mln {
  background-image: url("../../images/icons/svg/mln.svg");
}
.icon-mnx {
  background-image: url("../../images/icons/svg/mnx.svg");
}
.icon-mona {
  background-image: url("../../images/icons/svg/mona.svg");
}
.icon-mtl {
  background-image: url("../../images/icons/svg/mtl.svg");
}
.icon-music {
  background-image: url("../../images/icons/svg/music.svg");
}
.icon-nav {
  background-image: url("../../images/icons/svg/nav.svg");
}
.icon-nebl {
  background-image: url("../../images/icons/svg/nebl.svg");
}
.icon-neo {
  background-image: url("../../images/icons/svg/neo.svg");
}
.icon-nlg {
  background-image: url("../../images/icons/svg/nlg.svg");
}
.icon-nmc {
  background-image: url("../../images/icons/svg/nmc.svg");
}
.icon-nxs {
  background-image: url("../../images/icons/svg/nxs.svg");
}
.icon-nxt {
  background-image: url("../../images/icons/svg/nxt.svg");
}
.icon-omg {
  background-image: url("../../images/icons/svg/omg.svg");
}
.icon-part {
  background-image: url("../../images/icons/svg/part.svg");
}
.icon-pay {
  background-image: url("../../images/icons/svg/pay.svg");
}
.icon-pivx {
  background-image: url("../../images/icons/svg/pivx.svg");
}
.icon-pot {
  background-image: url("../../images/icons/svg/pot.svg");
}
.icon-powr {
  background-image: url("../../images/icons/svg/powr.svg");
}
.icon-ppc {
  background-image: url("../../images/icons/svg/ppc.svg");
}
.icon-ppt {
  background-image: url("../../images/icons/svg/ppt.svg");
}
.icon-pura {
  background-image: url("../../images/icons/svg/pura.svg");
}
.icon-qash {
  background-image: url("../../images/icons/svg/qash.svg");
}
.icon-qiwi {
  background-image: url("../../images/icons/svg/qiwi.svg");
}
.icon-qtum {
  background-image: url("../../images/icons/svg/qtum.svg");
}
.icon-rcn {
  background-image: url("../../images/icons/svg/rcn.svg");
}
.icon-rdd {
  background-image: url("../../images/icons/svg/rdd.svg");
}
.icon-rdn {
  background-image: url("../../images/icons/svg/rdn.svg");
}
.icon-rep {
  background-image: url("../../images/icons/svg/rep.svg");
}
.icon-req {
  background-image: url("../../images/icons/svg/req.svg");
}
.icon-rhoc {
  background-image: url("../../images/icons/svg/rhoc.svg");
}
.icon-rlc {
  background-image: url("../../images/icons/svg/rlc.svg");
}
.icon-rub {
  background-image: url("../../images/icons/svg/rub.svg");
}
.icon-salt {
  background-image: url("../../images/icons/svg/salt.svg");
}
.icon-san {
  background-image: url("../../images/icons/svg/san.svg");
}
.icon-sberbank {
  background-image: url("../../images/icons/svg/sberbank.svg");
}
.icon-sc {
  background-image: url("../../images/icons/svg/sc.svg");
}
.icon-sky {
  background-image: url("../../images/icons/svg/sky.svg");
}
.icon-smart {
  background-image: url("../../images/icons/svg/smart.svg");
}
.icon-sngls {
  background-image: url("../../images/icons/svg/sngls.svg");
}
.icon-snt {
  background-image: url("../../images/icons/svg/snt.svg");
}
.icon-steem {
  background-image: url("../../images/icons/svg/steem.svg");
}
.icon-storj {
  background-image: url("../../images/icons/svg/storj.svg");
}
.icon-strat {
  background-image: url("../../images/icons/svg/strat.svg");
}
.icon-sub {
  background-image: url("../../images/icons/svg/sub.svg");
}
.icon-taas {
  background-image: url("../../images/icons/svg/taas.svg");
}
.icon-tkn {
  background-image: url("../../images/icons/svg/tkn.svg");
}
.icon-trx {
  background-image: url("../../images/icons/svg/trx.svg");
}
.icon-ubq {
  background-image: url("../../images/icons/svg/ubq.svg");
}
.icon-usd {
  background-image: url("../../images/icons/svg/usd.svg");
}
.icon-usdt {
  background-image: url("../../images/icons/svg/usdt.svg");
}
.icon-ven {
  background-image: url("../../images/icons/svg/ven.svg");
}
.icon-veri {
  background-image: url("../../images/icons/svg/veri.svg");
}
.icon-vtc {
  background-image: url("../../images/icons/svg/vtc.svg");
}
.icon-waves {
  background-image: url("../../images/icons/svg/waves.svg");
}
.icon-wtc {
  background-image: url("../../images/icons/svg/wtc.svg");
}
.icon-xcp {
  background-image: url("../../images/icons/svg/xcp.svg");
}
.icon-xem {
  background-image: url("../../images/icons/svg/xem.svg");
}
.icon-xlm {
  background-image: url("../../images/icons/svg/xlm.svg");
}
.icon-xmr {
  background-image: url("../../images/icons/svg/xmr.svg");
}
.icon-xrb {
  background-image: url("../../images/icons/svg/xrb.svg");
}
.icon-xrp {
  background-image: url("../../images/icons/svg/xrp.svg");
}
.icon-xtz {
  background-image: url("../../images/icons/svg/xtz.svg");
}
.icon-xuc {
  background-image: url("../../images/icons/svg/xuc.svg");
}
.icon-xvg {
  background-image: url("../../images/icons/svg/xvg.svg");
}
.icon-xzc {
  background-image: url("../../images/icons/svg/xzc.svg");
}
.icon-zec {
  background-image: url("../../images/icons/svg/zec.svg");
}
.icon-zen {
  background-image: url("../../images/icons/svg/zen.svg");
}
.icon-zrx {
  background-image: url("../../images/icons/svg/zrx.svg");
}
